# -=- MacOS Specific Ignores -=-
**/.DS_Store

# -=- Eroxl's Device Specific Ignores -=-
**/Icon?

# -=- Node Modules -=-
**/node_modules/**

# -=- VS Code -=-
**/.vscode

# -=- Cypress -=-
**/cypress/screenshots
**/cypress/videos

# -=- Security -=-
/config/.env