@tailwind base;
@tailwind components;
@tailwind utilities;

editor.body {
    @apply w-screen h-screen overflow-x-hidden
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
-ms-overflow-style: none;
scrollbar-width: none;
}

.emoji {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

.emoji-mart-preview {
    display: none;
}

.emoji-mart-category .emoji-mart-emoji span {
    @apply hover:cursor-pointer
}

[placeholder]:empty:focus:before {
    content: attr(placeholder);
}