@font-face {
  font-family: "symbola";
  src: url("./fonts/Symbola.ttf") format("truetype");
}

.symbola {
  font-family: "symbola";
}

@font-face {
  font-family: "math";
  font-family: "CMSY10", "CMEX10", "Symbol", "Times";
}

.math {
  font-family: "math";
}